UnrealEngine/.vs/
UnrealEngine/Binaries/
UnrealEngine/DerivedDataCache/
UnrealEngine/Intermediate/
UnrealEngine/Saved/
UnrealEngine/NavigationMesh/Content/Developers/
WindowsNoEditor/

*.db
*.opensdf
*.opendb
*.log
*.pdb
*.user
*.suo